body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
header, footer {
    background-color: #333;
    color: #e1a7a7;
    padding: 1em;
    text-align: center;
}
nav {
    background-color: #e1a7a7;
    color: #fff;
    padding: 1em;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 50px;
}
nav a:hover {
    background-color: #444;
}
article {
    padding: 1em;
}

nav a.active {
    background-color: #444;
}

h2 {
    color: #834c4c;
}

.headerPar {
    position: relative flex;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Hamburger Menu Styles */
.hamburger-menu {
    display: block;
    width: 30px;
    height: 25px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
}

.line {
    width: 100%;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: all 0.3s ease;
}

/* Rotate first and third line */
.hamburger-menu.active .line:first-child {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-menu.active .line:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .line:last-child {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Navigation Menu Styles */
nav {
    display:none;
}

nav.active {
    display: block;
}

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) {
    /* Adjust your CSS rules for small screens here */
    .wrapper {
      /* Example styles for small screens */
      width: 90%;
      margin: 0 auto;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    /* Adjust your CSS rules for medium screens here */
    .wrapper {
      /* Example styles for medium screens */
      width: 80%;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    /* Adjust your CSS rules for large screens here */
    .wrapper {
      /* Example styles for large screens */
      width: 70%;
    }
  }